<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Chat</title>
    <link rel="shortcut icon" href="./public/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">
    <style>
        .text-bg-mine {
            background-color: rgb(135, 236, 87);
            color: black;
        }

        .text-bg-anyone {
            background-color: white;
            color: black;
        }

        * {
            padding: 0;
            margin: 0;
        }

        html,
        body {
            height: 100%;
            width: 100%;
            display: flow-root;
        }

        #App {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            box-sizing: border-box;
            display: flex;
        }

        .container-main {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            box-sizing: border-box;
            display: flex;

        }

        .sidebar {
            flex: 0 0 280px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
        }

        .user-info {
            display: flex;
            white-space: nowrap;
        }

        .edit-info {
            font-size: 16px;
            width: 100%;
            flex: 0 1 140px;
            box-sizing: border-box;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid black;
        }

        .edit-info:focus-visible {
            outline: none;
        }

        .main {
            flex: 1 1 auto;
            padding: 16px;
            box-sizing: border-box;
            background-color: rgb(244, 245, 246);
        }

        .chat-box {
            height: 70%;
            width: 100%;
            overflow: auto;
        }

        /* .chat {
            width: 100%;
            display: flex;
            margin-bottom: 48px;
        } */

        .name {
            flex: 0 0 auto;
            max-width: 64px;
        }

        .content {
            /* border: 1px solid black; */
            box-sizing: border-box;
            word-break: break-all;
        }

        .edit-box {
            height: 30%;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .edit {
            flex: 0 1 100%;


        }

        .content-box:hover .content-box-operate {
            opacity: 1;
        }

        .content-box-operate {
            opacity: 0;
            transition: opacity .3s
        }

        .tooltip-custom {
            position: relative;
        }

        .tooltip-custom::before {
            position: absolute;
            z-index: 1000001;
            display: none;
            width: 0;
            height: 0;
            color: rgb(36, 41, 47);
            pointer-events: none;
            content: "";
            border: 6px solid transparent;
            opacity: 0;
            top: -7px;
            right: 50%;
            bottom: auto;
            margin-right: -6px;
            border-top-color: rgb(36, 41, 47);
        }

        .tooltip-custom:hover:before {
            display: block;
        }

        .tooltip-custom::after {
            position: absolute;
            z-index: 1000000;
            display: none;
            font-size: 12px;
            padding: 0.5em 0.75em;
            -webkit-font-smoothing: subpixel-antialiased;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            text-shadow: none;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: break-word;
            white-space: pre;
            pointer-events: none;
            content: attr(aria-label);
            background: rgb(36, 41, 47);
            border-radius: 6px;
            right: 50%;
            bottom: 100%;
            margin-bottom: 6px;
            transform: translateX(50%);
        }

        .tooltip-custom:hover::after {
            display: block;
        }
    </style>
    <svg class="d-none" xmlns="http://www.w3.org/2000/svg">
        <symbol id="icon-image" viewBox="0 0 16 16">
            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
            <path
                d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
        </symbol>
        <symbol id="icon-file" viewBox="0 0 16 16">
            <path
                d="M8 5a.5.5 0 0 1 .5.5V7H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V8H6a.5.5 0 0 1 0-1h1.5V5.5A.5.5 0 0 1 8 5zm-2.5 6.5A.5.5 0 0 1 6 11h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z" />
            <path
                d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
        </symbol>
        <symbol id="icon-history" viewBox="0 0 16 16">
            <path
                d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z" />
            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z" />
            <path
                d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
        </symbol>
        <symbol id="icon-upload" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z" />
            <path fill-rule="evenodd"
                d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z" />
        </symbol>
        <symbol id="icon-clipboard" viewBox="0 0 16 16">
            <path
                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z">
            </path>
            <path
                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z">
            </path>
        </symbol>
        <symbol id="icon-check" viewBox="0 0 16 16">
            <path
                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z">
            </path>
        </symbol>
        <symbol id="icon-eye" viewBox="0 0 16 16">
            <path
                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
        </symbol>

    </svg>
</head>

<body>
    <template id="dialog">
        <div @click="onClose" :style="{display: visible ? 'block' : 'none'}" class="modal">
            <div :class="{ show: visible, [size]: true }" @click.stop class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 style="user-select: none;" class="modal-title fs-5">{{ title }}</h1>
                        <button @click="onClose" type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>
                    <div class="modal-footer">
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="nav-tab">
        <ul class="nav nav-tabs">
            <li style="user-select: none;" @click="onSelect(index)" v-for="(item,index) in items" :key="index"
                class="nav-item">
                <a :class="{ active: selectIndex === index }" class="nav-link">{{ item }}</a>
            </li>
        </ul>
    </template>

    <style>
        .user-card[user-card] {
            transition: background .3s;
            user-select: none;
            width: 97%;
            border-radius: 4px;
        }

        .user-card[user-card]:hover {
            background-color: rgba(208, 215, 222, .32);
        }
    </style>
    <template id="user-card">
        <div :style="selectStyle" class="d-flex overflow-auto user-card" user-card>
            <div class="rounded position-relative flex-grow-0 flex-shrink-0 me-2" style="width: 40px; height: 40px;">
                <img v-if="avatar" class="rounded" width="40" height="40" :src="avatar" alt="">
                <div v-else class="bg-light w-100 h-100 rounded text-center shadow-sm" style="line-height: 40px;">{{
                    nickname[0]
                    }}</div>
                <span v-show="hasNewAlert"
                    class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
            </div>
            <div class="d-flex w-100 flex-fill flex-column overflow-auto">
                <div style="font-size: 14px;" class="text-truncate flex-grow-1">{{ nickname }}</div>
                <div style="font-size: 12px;" class="text-truncate text-secondary-emphasis flex-grow-1">{{ content }}
                </div>
            </div>
            <div class="d-flex flex-column flex-shrink-0 flex-grow-0">
                <div class="text-secondary-emphasis h-100 flex-grow-1" style="font-size: 12px;">{{
                    relativeTimeFormat(contentCreatedTime) }}
                </div>
                <div class="text-end" style="font-size: 12px;">
                    <span style="color: green;" v-show="isOnline">在线</span>
                    <span style="color: gray;" v-show="!isOnline">离线</span>
                </div>
            </div>
        </div>
    </template>

    <template id="index-main">
        <div class="container-main">
            <div class="sidebar overflow-auto border-end border-secondary-subtle">
                <div class="d-flex flex-column align-items-center flex-fill h-100 overflow-auto">
                    <user-card @click.native="onSelect(item.userId, item.contentCreatedTime)" class="p-2 mt-1"
                        :selected="selectUserId === item.userId" :nickname="item.nickname"
                        :content-created-time="item.contentCreatedTime" :has-new-alert="item.hasNewAlert"
                        :is-online="item.isOnline"
                        :avatar="(item.avatarType === 1 && item.avatarVersion !== 0) ? generateAvatarUrl(item.userId, item.avatarVersion) : ''"
                        :content="item.content" v-for="item in friendListComputed" :key="item.userId" />
                </div>
                <div style="height: 48px;" class="flex-shrink-0 flex-grow-0 px-2 d-flex align-items-center">
                    <button @click="onOpenSetting" class="btn btn-primary" type="button">设置</button>
                    <button @click="onExit" class="btn btn-danger ms-2" type="button">退出</button>
                    <span v-if="isAlive" class="badge text-bg-success me-0 ms-auto">在线</span>
                    <span v-else style="cursor: pointer;" @click="onReOpenWs"
                        class="badge text-bg-secondary me-0 ms-auto">离线</span>
                </div>
            </div>

            <div @click="visibleSetting = false" :class="{ show: visibleSetting }"
                :style="{display: visibleSetting ? 'block' : 'none'}" class="modal fade" id="exampleModal" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div @click.stop class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">设置</h1>
                            <button @click="visibleSetting = false" type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">昵称:</label>
                                    <input v-model="editInfo.nickname" type="text" class="form-control"
                                        id="recipient-name">
                                </div>
                                <div class="mb-3">
                                    <label class="col-form-label">头像:</label>
                                    <div class="form-check form-switch d-inline-block ms-2">
                                        <input :checked="editInfo.avatarType === 1 ? true : false"
                                            @change="onEditInfoAvatarTypeChange($event)" class="form-check-input"
                                            type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">图片</label>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img v-if="editInfo.avatarType === 1 && editInfo.avatar" class="rounded"
                                            width="65" height="65" :src="editInfo.avatar" alt="">
                                        <div v-else class="bg-light rounded text-center shadow-sm"
                                            style="width: 65px; height: 65px; line-height: 65px;">{{
                                            editInfo.nickname[0] }}
                                        </div>
                                        <button @click="onUploadAvatar" v-if="editInfo.avatarType === 1" type="button"
                                            class="btn btn-outline-success ms-4">上传图片</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button @click="visibleSetting = false" type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button @click="onEditSubmit" type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="!isSelectChat" class="main">
                <h1>Welcome</h1>
            </div>
            <div v-else class="main overflow-auto">
                <div ref="chatBoxElement" @scroll="onScrollChat"
                    :style="{scrollBehavior: scrollSmooth ? 'smooth' : 'auto'}" style="will-change: scroll-position;"
                    class="chat-box position-relative">
                    <!-- 聊天盒子 -->
                    <div class="content-box" v-for="item,index in chatStore.userChat[selectUserId]" :key="item.id">
                        <div v-if="isDisplayTime(chatStore.userChat[selectUserId], index)"
                            class="text-center text-secondary-emphasis" style="font-size: 12px;">{{
                            relativeTimeFormat(item.created_time) }}</div>
                        <!-- 复制/预览 -->
                        <div :style="{direction: item.user_id !== info.userId ? 'ltr' : 'rtl', [item.user_id !== info.userId ? 'marginLeft' : 'marginRight']: '64px' }"
                            class="px-2 content-box-operate" v-if="item.type === chatType.TEXT">
                            <span class="d-inline-block flex-shrink-0 ms-auto tooltip-custom"
                                v-if="!item.clipboardActive" aria-label="Copy to Clipboard"
                                @click="onClipboard(item, $event)()">
                                <svg style="width: 18px; height: 18px; fill:currentColor; cursor: pointer;" role="img">
                                    <use xlink:href="#icon-clipboard" />
                                </svg>
                            </span>
                            <span @click="onClipboard(item, $event)()" v-else aria-label="Copied"
                                class="flex-shrink-0 ms-auto tooltip-custom">
                                <svg style="width: 18px; height: 18px; fill:currentColor; cursor: pointer;" role="img">
                                    <use xlink:href="#icon-check" />
                                </svg>
                            </span>
                            <span @click="onViewText(item)" style="text-indent: 4px;" class="d-inline-block">
                                <svg style="width: 18px; height: 18px; fill:currentColor; cursor: pointer;" role="img">
                                    <use xlink:href="#icon-eye" />
                                </svg>
                            </span>
                        </div>
                        <!-- 气泡 -->
                        <div :style="{direction: item.user_id !== info.userId ? 'ltr' : 'rtl', minHeight: '64px'}"
                            class="px-3 pb-3 mb-4 d-flex">
                            <img v-if="item.avatarType === 1 && item.avatarVersion !== 0" class="rounded" width="40"
                                height="40" :src="generateAvatarUrl(item.user_id, item.avatarVersion)" alt="">
                            <div v-else class="bg-body rounded text-center shadow-sm flex-shrink-0"
                                style="width: 40px; height: 40px;line-height: 40px;">{{ item.nickname[0] }}</div>
                            <div class="overflow-auto">
                                <!-- 内容 -->
                                <div :style="{direction: 'ltr', [item.user_id !== info.userId ? 'marginLeft' : 'marginRight']: '16px', [item.user_id !== info.userId ? 'marginRight' : 'marginLeft']: '90px' }"
                                    class="content p-2 rounded overflow-auto"
                                    :class="contentClass(item.user_id, item.type)">
                                    <pre class="content-clip" style="max-height: 400px;"
                                        v-if="item.type === chatType.TEXT" v-link>{{ item.content }}</pre>
                                    <div v-else-if="item.type === chatType.IMAGE">
                                        <div class="p-2" style="width: 300px; height: 200px;"
                                            v-if="item.user_id === info.userId && !item.id">
                                            <div>{{ item.content }}</div>
                                            <div class="progress" role="progressbar">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                    :style="{ width: item.loaded }"></div>
                                            </div>
                                        </div>
                                        <a v-if="item.id" class="text-white d-inline-block"
                                            :class="{'bg-secondary': !item.__load}" style="text-decoration: none;"
                                            :href="generateFileUrl(item.id, item.type)" target="_blank">
                                            <!-- 上传中 -->
                                            <div v-if="item.user_id === info.userId && !item.id">
                                                <div class="progress" role="progressbar">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                        :style="{ width: item.loaded }"></div>
                                                </div>
                                            </div>
                                            <div style="width: 300px; height: 200px; line-height: 100px;"
                                                class="text-center" v-show="!item.__load">
                                                <span>Loading...</span>
                                            </div>
                                            <img v-show="item.__load" @load="$set(item, '__load', true)"
                                                style="max-width: 300px; max-height: 200px;"
                                                :src="generateFileUrl(item.id, item.type)" alt="">
                                        </a>
                                    </div>
                                    <div v-else-if="item.type === chatType.FILE" style="width: 282px;"
                                        class="p-2 bg-white">
                                        <div>{{ item.content }}</div>
                                        <div v-if="item.user_id === info.userId && !item.id">
                                            <div class="progress" role="progressbar">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                    :style="{ width: item.loaded }"></div>
                                            </div>
                                        </div>
                                        <div v-else-if="item.id" class="text-end">
                                            <a style="font-size: 12px;" :href="generateFileUrl(item.id, item.type)">
                                                <span>点击下载</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div @click="onScrollChatToBottom" v-show="hasNewMsg"
                        class="text-bg-success p-2 position-sticky bottom-0 ms-auto me-auto rounded"
                        style="font-size: 12px; width: fit-content; cursor: pointer;">
                        有新消息</div>
                </div>
                <div style="border-top-width: 2px !important;" class="edit-box border-top border-secondary-subtle">
                    <div class="d-flex align-items-center p-2">
                        <svg @click="onUploadFile(chatType.IMAGE)"
                            style="width: 18px; height: 18px; fill:currentColor; cursor: pointer;"
                            class="flex-shrink-0 ms-2" role="img">
                            <use xlink:href="#icon-image" />
                        </svg>
                        <svg @click="onUploadFile(chatType.FILE)"
                            style="width: 18px; height: 18px; fill:currentColor; cursor: pointer;"
                            class="flex-shrink-0 ms-4" role="img">
                            <use xlink:href="#icon-file" />
                        </svg>
                        <svg @click="onOpenChatNote"
                            style="width: 18px; height: 18px; fill:currentColor; cursor: pointer;"
                            class="flex-shrink-0 ms-4 me-auto" role="img">
                            <use xlink:href="#icon-history" />
                        </svg>
                        <button @click="onResetMessage" type="button"
                            class="btn btn-outline-warning ms-auto">重置</button>
                        <button @click="onSendMessage" type="button"
                            class="btn btn-outline-primary me-0 ms-2">发送</button>
                    </div>
                    <div @dragleave="onDragleave" @dragover.prevent @drop.prevent.stop="onDrop($event)"
                        class="form-floating flex-grow-0 flex-fill h-100 d-flex">
                        <textarea @dragenter="onDragenter" @dragleave.stop v-show="!isDragenter"
                            @keydown.enter.prevent="onSendMessage" v-model="content" class="form-control h-100"
                            placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        <label v-show="!isDragenter" for="floatingTextarea">Input...</label>
                        <svg @dragleave.stop @dragenter="onDragenter" v-show="isDragenter"
                            style="width: 32px; height: 32px; fill:currentColor; cursor: pointer;"
                            class="flex-shrink-0 m-auto" role="img">
                            <use xlink:href="#icon-upload" />
                        </svg>
                    </div>
                </div>
            </div>
            <!-- 聊天记录 -->
            <b-dialog :visible.sync="chatNoteVisible" title="聊天记录" size="modal-lg">
                <template v-slot:body>
                    <div class="w-100 d-flex flex-column" style="max-height: 65vh;">
                        <form>
                            <div class="mb-2">
                                <label for="chat-note-search" class="col-form-label">搜索:</label>
                                <input v-model="chatNoteSearchInput" type="text" class="form-control"
                                    id="chat-note-search">
                            </div>
                        </form>
                        <b-nav-tab :items="chatTabList" @select="onChatTabSelect"></b-nav-tab>
                        <div ref="chatNoteContentElement" @scroll="onChatNoteScroll"
                            :class="{'overflow-auto': !chatNoteLoading, 'overflow-hidden': chatNoteLoading}">
                            <div v-for="chat in chatNoteList" :key="chat.id" class="d-flex mb-4">
                                <div class="rounded position-relative flex-grow-0 flex-shrink-0 me-2"
                                    style="width: 40px; height: 40px;">
                                    <img v-if="chat.avatarType === 1 && chat.avatarVersion !== 0" class="rounded"
                                        width="40" height="40" :src="chat.avatar" alt="">
                                    <div v-else class="bg-light w-100 h-100 rounded text-center shadow-sm"
                                        style="line-height: 40px;">{{
                                        chat.nickname[0]
                                        }}</div>
                                </div>
                                <div class="flex-grow-1 w-100">
                                    <div class="d-flex">
                                        <div style="font-size: 12px;">{{ chat.nickname }}</div>
                                        <div class="ms-auto me-2" style="width: 100px; font-size: 12px;">{{
                                            relativeTimeFormat(chat.created_time) }}</div>
                                    </div>
                                    <div style="background: #eff0f1;">{{ chat.content }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </b-dialog>
            <!-- 预览 -->
            <b-dialog :visible.sync="textViewVisible" title="文本预览" size="modal-fullscreen">
                <template v-slot:body>
                    <pre>{{ textViewContent }}</pre>
                </template>
            </b-dialog>
        </div>
    </template>


    <div id="App">
        <div v-if="loading">Loading...</div>
        <index-main v-if="!loading" />
    </div>
</body>
<script src="./public/js/linkify.min.js"></script>
<script src="./public//js/linkify-element.min.js"></script>
<script src="./public/js/linkify-plugin-ip.min.js"></script>
<script type="module">
    import Vue from './public/js/vue.esm.js'
    import { useAuthMiddleware } from './middleware/auth.js'
    import IndexMain from './views/IndexMain.js'
    Vue.directive('link', {
        // 当被绑定的元素插入到 DOM 中时……
        inserted: function (el) {
            el.parentElement.replaceChild(el, linkifyElement(el, {
                attributes: {
                    target: '_blank'
                }
            }))
        }
    })

    new Vue({
        el: '#App',
        components: {
            IndexMain,
        },
        setup() {
            const { loading } = useAuthMiddleware()
            return {
                loading,
            }
        },
    })
</script>

</html>